$font-family--sans-serif: 'Roboto', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;

// 1rem = 10px
$base-font-size: 100%;
$base-line-height: 1.6;
$base-font-family: $font-family--sans-serif;
$base-font-weight: 400;
$base-font-style: normal;
$letter-spacing: 0.4px;

$base-bg: #000;
$base-font-color: #fff;
$primary-color: #1ab8d9;
$secondary-color: #88cda5;
$text-color: #ebd9f8;
$text-color-grey: #80868b;