.hero .swiper-slide {
    height: 50rem;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    background-position: center left;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background-image: linear-gradient(to right, #000, rgba(0, 0, 0, 0));
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}